
.idea/

.vs/*

__pycache__/

*.mp4
*.jpg

data/processed/*.csv
data/processed/*.pkl
data/processed/*.rar
data/processed/*.zip

data/raw/*.csv
data/raw/*.pkl
data/raw/*.rar
data/raw/*.zip

data/results/*.jpg
data/transformed/*.jpg
data/validation/*.jpg
data/validation/*.xml

logs/server/*.log
logs/tensorboard/*.*

models/*.h5

notebooks/.ipynb_checkpoints/*
notebooks/*.xlsx
notebooks/*.pkl
notebooks/*.html

weights/*.h5